
.container {
  display: flex;
  height: 100vh;
  width: 100%;
  
}
.nav-box {
  height: 100vh;
  width:20%;
  background-color: rgb(178, 208, 233);
  padding: 15px;
 }
.container-right {
  display:flex;
  height:100vh;
  width: 80%;
  flex-direction: column;
  /* justify-content: space-around; */
  align-content: stretch;
  
}
.header-box {
  height: 20%;
  background-color: greenyellow;
  padding: 15px;

}
.middle-box {
  display:flex;
  height: 60%;
  width: 100%;
  padding: 15px;
  
}
.article-box {

  width: 80%;
  background-color: white;
  padding: 15px;

}
.aside-box {  

  width: 25%;
  background-color: beige;
  padding: 15px;

}
.footer-box {
  height: 20vh;
  background-color: greenyellow;
}